@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

html, body {
	font-family: 'Noto Sans', sans-serif;
}

section {
	height: 100vh;
	padding-top: 40vh;
	padding-bottom: 300px;
}

.content, .footer {
	height: 100vh;
}

.parallax-img-1 {
	background-image: url(../img/back1.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #ffffff;
	text-shadow: 0 0 4px #000000;
}

.parallax-img-2 {
	background-image: url(../img/back2.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #ffffff;
	text-shadow: 0 0 4px #000000;
}

.parallax-img-3 {
	background-image: url(../img/back3.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #ffffff;
	text-shadow: 0 0 4px #000000;
}

.thumbnail {
	align-items: center;
}
.thumb {
	width: 300px;
	border-radius: 5px;
}

.text-header {
	color: #ffffff;
	text-shadow: 0 0 4px #000000;
}